apiVersion: v1
kind: Config
clusters:
  - name: kubernetes
    cluster:
      server: https://172.16.10.100:6443 
      certificate-authority-data: {{ ca_certificate }}
users:
  - name: {{ user_name }}
    user:
      client-certificate-data: {{ client_certificate }}
      client-key-data: {{ client_key }}
contexts:
  - name: my-context
    context:
      cluster: kubernetes
      namespace: {{ my_namespace }}
      user: my-user
current-context: my-context
