apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ username }}-role
  namespace: {{ namespace }}
rules:
  - apiGroups: [""]
    resources: ["pods", "services", "deployments", "configmaps"]  # Add other resources as needed
    verbs: ["get", "list", "create", "update", "delete"]
